nav {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(29, 23, 23);
  padding: 15px 20px;
  border-radius: 5px;
}
select{
  background-color: lightseagreen;
}

nav img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

nav h5 {
  font-size: 18px;
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 0 15px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.user h5 {
  font-size: 18px;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #34495e;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
  background-color: #ddd;
}

.dropdown-item {
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  color: #333;
}
